/* Colores */ /* Fuentes */
/* Personalizacion bootstrap*/
/* navbar */
body {
  margin-right: 0;
  margin-left: 0;
  padding-left: 0;
  padding-right: 0;
}
body .navbar-brand {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: #300B40;
  padding-left: 10px;
  transition: transform 0.2s ease-in-out;
}
body .navbar-brand:hover {
  transform: scale(1.5);
  color: #420B59;
}
body .navbar-brand .nav-link {
  color: #CEB3F2;
}

/* body home */
.homebod {
  background-image: url(../media/one-hiking-lifestyle-summer-yoga.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.homebodcourse {
  background-color: #D9D9D9;
}

.hometitle {
  color: #420B59;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 30px;
  animation-duration: 2s;
  animation-name: aparecer;
  animation-iteration-count: 1;
}

.coursecards { 
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  margin-bottom: 50px;
}

.card {
  width: 18rem;
  display: flex;
  justify-content: space-around;
}

.coursebg {
  background-color: #D9D9D9;
}

.btnposition {
  display: flex;
  justify-content: center;
}

.btnmarg { 
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 5px;
  float: right;
  background-color: #CEB3F2;
  border: #CEB3F2;
}

.btnmarg:hover {
  background-color: #420B59;
  border: #420B59;
  color: #CEB3F2;
}


.normaltext {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: grey;
}

.basket {
  display: flex;
  flex-direction: column;
}

li {
  margin-bottom: 15px;
}

.userform {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content:center;
}

label{
  padding-left: 5px;
  padding-right: 5px;
}

.addbtn {
  float: right;
  background-color: #CEB3F2;
  border: #CEB3F2;
}

.addbtn:hover {
  background-color: #420B59;
  border: #420B59;
  color: #CEB3F2;
}

.tList{
  display: flex;
  justify-content: center;
  align-content: space-around;
}

.contbtn {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logbtn {
  float: right;
  background-color: #CEB3F2;
  border: #CEB3F2;
}

.logbtn:hover {
  background-color: #420B59;
  border: #420B59;
  color: #CEB3F2;
}







@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* footer */
.bgcolorfooter {
  background-color: #F2F2F2;
}
.bgcolorfooter .footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  margin-right: 0px;
}
.bgcolorfooter .footer .icono {
  width: 35px;
  padding: 8px;
  transition: transform 0.2s ease-in-out;
}
.bgcolorfooter .footer .icono:hover {
  transform: scale(1.15);
}

